<%= stylesheet_link_tag "application" %>
<div class="container">
  <%= yield %>
</div>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/">Restaurante app</a>
      <ul class="nav">
        <li class="active"><a href="/cliente">Cliente</a></li>
        <li class="active"><a href="/pedido">Pedido</a></li>
        <li class="active"><a href="/cardapio">Cardapio</a></li>
        <li class="active"><a href="/entrega">Entraga</a></li>
      </ul>
    </div>
  </div>
</div>